@import url("https://fonts.googleapis.com/css?family=Quicksand|Russo+One&display=swap");

/* des variables CSS */
$hue: 50;
$shift: 30;
$color: hsl($hue, 30%, 60%);
$light: lighten(adjust-hue($color, $shift), 20%);
$lighter: lighten(adjust-hue($color, $shift * 2), 40%);
$dark: darken(adjust-hue($color, -$shift), 10%);
$darker: darken(adjust-hue($color, -$shift * 2), 20%);
$pop: hsl($hue - 180, 80%, 60%);

/* variable de temps */
$base: 1.2vh;
$short: 200ms;
$mid: 600ms;
$long: 2000ms;
$ease-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out: cubic-bezier(0.23, 1, 0.32, 1);
$grid-size: 10rem;
$rows: 5;
$cols: 5;