        #haut{
            position:absolute;
            top:0%;
            left:50%;
            height:20%;
        }
        #bas{
            position:absolute;
            top:90%;
            left:50%;
            height:20%;
        }
        #gauche{
            position:absolute;
            top:50%;
            left:0%;
            height:20%;
        }
        #droite{
            position:absolute;
            top:50%;
            left:90%;
            height:20%;
        }
        #centre{

            position:absolute;
            top:50%;
            left:50%;
            height:20%;
        }
        #nom_de_page{
            display:none;
            position:absolute;
            top:60%;
            left:50%;
            height:20%;
        }